{% extends "layout.html" %}
{% block content %}

    <h1 xmlns="http://www.w3.org/1999/html">Graphs</h1>

    <h2>Graphs from FHIR data</h2>

    {% for visual in visuals %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ visual.title }}</a>
{#              <small class="text-muted">{{ visual.content }}</small>#}
            </div>
            <h3><a class="article-title" href="#">{{ visual.title }}</a></h3>
              <p><img class="article-content" src="{{ visual.content }}"></p>
          </div>
        </article>
    {% endfor %}
{% endblock content %}
