{% extends "layout.html" %}
{% block content %}
    {% for patient in patients %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ patient.author }}</a>
              <small class="text-muted">{{ patient.date_posted }}</small>
            </div>
            <h2><a class="article-title" href="#">{{ patient.title }}</a></h2>
            <p class="article-content">{{ patient.content }}</p>
          </div>
        </article>
    {% endfor %}
{% endblock content %}
